#root { height: 90%; }

.centered { text-align: center; }

.pointer {cursor: pointer;}

.alignment { margin: auto; }

.hidden { visibility: hidden; }

.nullpading { padding: 0; }

form { margin: 5% 0; }

h3 {
	color: teal;
	display: inline;
}

.section-title {
	display: inline;
	margin: 0px 0px 0px 5px;
}

.more-margin {
	display: inline;
	margin: 0px 0px 0px 35px;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    height: 100%;
 }

.arrow-container {
	display: flex;
    justify-content: center;
    align-items: center;
}

.members {
	margin: 3%;
	vertical-align: middle;
}