#root {
	height: 90%;
}

h3 {
	color: teal;
	display: inline;
}

vertical-align {
	text-align: center;
}

.centered {
	text-align: center;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
    height: 100%;
 }

.arrow-container {
	display: flex;
    justify-content: center;
    align-items: center;
}

.alignment {
	margin: auto;
}

form {
	margin: 5% 0;
}

.members {
	margin: 3%;
	vertical-align: middle;
}

.nullpading {
	padding: 0;
}

.title {
	text-align: center;
	font-size: 30px;
	color: teal;
}

.hidden {
	visibility: hidden;
}